*{
  box-sizing: border-box;
  transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
}
body{
  background-color: #fff;
  margin: 0;
  text-align: center;
  font-family: "poppins", "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
}
h2{
  font-family: "playfair display", georgia, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #666;
  margin: 10px  auto 30px auto;
  max-width: 600px;
}
h2.cn{
  font-family: "playfair display", georgia, serif;
}

.cn{
  font-style:normal;
}
 a.cn{
border: none;
}
a.cn:hover{
border: none;
background-color: #eee;
}

h3{

  font-weight: 400;
  font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  color: #777;
  margin: 0 auto;
  max-width: 600px;

}
p{
  max-width: 400px;
  line-height: 1.6;
  font-size: 16px;
  color: #777;
  margin: 0 auto;
}
a{
  color: #DFB0A9;
  border-bottom: 2px dashed #DFB0A9;
  text-decoration: none;
}
a:hover{
  color: #AD554D;
  border-bottom: 2px solid #AD554D;
  text-decoration: none;
}
.no-border, .no-border:hover{
  border-bottom:none;
}
.uhrzeit, .anfahrt, .outfit, .hotel{
  margin: calc(40px + 5%)  auto 20px auto;
}
.bottom{
  background: url(bg.jpg);
  background-size: cover;
  background-position: 35% bottom;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;

}
.language{
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: 16px;
  text-align: right;
  background-color: #fff;
  border-radius: 50%;
  right: 100%;
  border: none;
}

.language:hover{
  background-color: #AD554D;
  color: #fff;
}

.intro{
  height: calc(100vh - 236px);
}
.intro > img{
  width: 60%;
}
.top{
  background-color: #fff;
  padding: 40px 16px;
}
.intro ,.top{
  width: 35%;
  margin-left:65%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  width: 100%;
}
.map{
  box-shadow: 0 0 20px #eee;
  width:100%;
  max-width: 260px;
  padding: 0px;

  border-radius: 50%;

  -ms-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);

}
.map:hover{
  padding: 10px;


    -ms-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -o-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);

}

.wedding-timer{
  margin: 0px  auto 0 auto;
  padding:0;

}
#timer {
  font-size: 2.8em;
  font-weight: 100;
  color: #555;
  text-align: center;
  margin-bottom: 100px;
  line-height: 1.3;
}

  #timer > div {
    display: inline-block;
    min-width: 90px;
}

    #timer > div> span {
      color: #777;
      display: block;
      font-size: .35em;
      font-weight: 400;
    }


  @media only screen and (max-width: 1200px) {
      .top, .intro{
        width: 50%;
        margin-left:50%;
      }

@media only screen and (max-width: 786px) {
  .top, .intro{
    width: 100%;
    margin-left:0%;
  }
  #timer > div:nth-child(4) {
    display: none;
  }
}
