*{
  box-sizing: border-box;
  transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
}
body{
  background-color: #fff;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
}
h2{
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
  color: #666;
  margin: 10px  auto 30px auto;
  max-width: 600px;

}
h3{

  font-weight: 400;
  font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  color: #777;
  margin: 0 auto;
  max-width: 600px;

}
p{
  max-width: 600px;
  line-height: 1.6;
  font-size: 18px;
  color: #777;
  margin: 0 auto;
}
a{
  color: #DFB0A9;
  border-bottom: 2px dashed #DFB0A9;
  text-decoration: none;
}
a:hover{
  color: #AD554D;
  border-bottom: 2px solid #AD554D;
  text-decoration: none;
}
.no-border, .no-border:hover{
  border-bottom:none;
}
.uhrzeit, .anfahrt, .outfit, .hotel{
  margin: calc(40px + 5%)  auto 20px auto;
}
.bottom{
  background: url(bg.jpg);
  background-size: cover;
  background-position: 35% bottom;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;

}
.intro{
  height: calc(100vh - 170px);
  width: 50%;
  margin-left:50%;
}
.intro > img{
  width: 60%;
}
.top{
  background-color: #fff;
  width: 50%;
  margin-left:50%;
  padding: 40px 10px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .menu{
  margin-top: calc(100vh - 100px);
  height: 100px;
  width: 100%;
  background-color: lightblue;
}
.menu-child{
  margin: 0 4px;
} */

.container{
  width: 100%;
}
.map{
  box-shadow: 0 0 20px #eee;
  width:100%;
  max-width: 260px;
  padding: 0px;

  border-radius: 50%;

  -ms-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);

}
.map:hover{
  padding: 10px;


    -ms-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -o-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.45);

}

.wedding-timer{
  margin: 0px  auto 0 auto;
  padding:0;

}
#timer {
  font-size: 3em;
  font-weight: 100;
  color: #555;
  text-align: center;
  margin-bottom: 100px;
}

  #timer > div {
    display: inline-block;
    min-width: 90px;
}

    #timer > div> span {
      color: #777;
      display: block;
      font-size: .35em;
      font-weight: 400;
    }


@media only screen and (max-width: 786px) {
  .top, .intro{
    width: 100%;
    margin-left:0%;
  }
}
